body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #373867;
    height: 77px;
    position: fixed;
    width: 1519px;
    height: 85px;
    top: 0px;
    left: 0px;
    padding-left: 15px;
}

.img-header {
    margin-top: 26px;
}

.img-header2 {
    margin-bottom: 6px;
}

main {
    margin-left: 190px;
}

h1 {
    color: #373867;
    font-size: 40px;
}

h2 {
    color: #373867;
    text-align: center;
    text-decoration: underline #49A37B;
    color: #373867;
    margin-bottom: 40px;
    font-size: 30px;
}

h3 {
    color: #373867;
    font-size: 24px;
}

p {
    color: #373867;
    font-family: 'Roboto';
}

aside {
    position: fixed;
    background-color: #AACE9B;
    width: 260px;
    height: 915px;
    left: 0px;
    top: 84px;
    font-size: 18px;
}

.decoration {
    text-decoration: none;
    color: #373867;
    margin-left: 10px;
    right: 92px;
    top: 4px;
    bottom: 95px;

}

.color {
    color: #373867;
}

.btn-aside {
    background-color: white;
    display: block;
    flex-direction: row;
    align-items: center;
    padding: 14px 36px;
    gap: 10px;
    margin-right: 20px;
    margin-left: 32px;
    margin-top: 15px;
    margin-bottom: 17px;
    border: 1px solid #373867;
    border-radius: 5px;
}

.icons-side {
    margin-left: 10px;
}

#color-contact {
    text-decoration: underline;
    color: white;
    margin-top: 245px;
    font-size: 20px;
}

.position-side {
    list-style-type: none;
    text-decoration: none;
    width: 270px;
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 90px;
    margin-top: -80px;
}

.underline {
    text-decoration: none;
}

#size-ul {
    margin-top: 120px;
}

.h2-side {
    text-decoration: none;
    font-size: 20px;
    margin-right: 120px;
}

#welcome {
    text-align: center;
    margin-right: 554px;
    margin-top: 170px;
}

#color-welcome {
    color: #49A37B;
    text-decoration: none;
}

#img-welcome {
    width: 500px;
    height: 315px;
    margin-left: 740px;
    margin-top: -170px;
    margin-bottom: 70px;
}

.details2 {
    display: inline-block;
}

#text-welcome {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    width: 488px;
    height: 81px;
    margin-left: 150px;
    top: 240px;
}

#features {
    text-align: center;
    text-decoration: underline #49A37B;
    color: #373867;
    margin-top: 20px;
}

.icon-h3 {
    display: inline-block;
}
.margin-top{
    margin-top: 50px;
    margin-bottom: 44px;
}
.altura{
    height: 80px;
    margin-top: 15px;
}
article {
    text-align: center;
    display: inline-block;
    width: 590px;
    margin-left: 70px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-left: 72px;
}

form {
    display: inline;
}

.box {
    height: 30px;
    width: 300px;
    border: #373867 solid 2px;
    border-radius: 4px;
    margin-bottom: 17px;
}

.label-form {
    display: block;
}
.lugar{
    margin-top: 21px;
    margin-bottom: 10px;
}
.user-details {
    display: inline-block;
    margin-left: 160px;
}

#submit {
    background-color: #AACE9B;
    padding: 10px;
    border-radius: 4px;
    color: #373867;
    text-decoration: none;
    border: none;
    display: block;
}

.textarea {
    width: 566px;
    height: 190px;

}

#list {
    color: #373867;
    margin-left: 320px;
    margin-bottom: 15px;
}

#list-2 {
    margin-top: -170px;
    font-size: 20px;
}

#img-activities {
    margin-left: 520px;

}

.memberships-container {
    margin-top: 100px;
}

table {
    color: #373867;
    border-collapse: collapse;
    text-align: left;
    width: 900px;
    height: 60;
    margin-left: -200px;
    margin-top: -80px;
}

tr,
td,
th {
    padding: 13px;
}

#table-container {
    width: 600px;
    margin: 150px auto;
}

.grey {
    background-color: #D9D9D9;
    color: #373867;
}

footer {
    background-color: #AACE9B;
    padding: 4px;
}

#icons {
    margin-left: 800px;
    margin-top: 10px;
}

#final-text {
    color: white;
    margin-left: 678px;
}