body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #373867;
    height: 77px;
    position: sticky;
    width: 1519px;
    height: 85px;
    top: 0px;
    left: 0px;
    font-size: 60px;
}

h1 {
    color: #373867;
    font-size: 40px;
}

h2 {
    color: #373867;
    text-align: center;
    text-decoration: underline #49A37B;
    color: #373867;
    margin-bottom: 40px;
}

h3 {
    color: #373867;
}

p {
    color: #373867;
    font-family: 'Roboto';
}

aside {
    position: fixed;
    background-color: #AACE9B;
    width: 313px;
    height: 915px;
    left: 0px;
    top: 84px;
    font-size: 18px;
}

.btn-aside {
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #373867;
    border-radius: 5px;
    margin-bottom: 23px;
    margin-left: 30px;
    margin-right: 100px;
    font-size: 20px;
}

#color-contact {
    text-decoration: none;
    color: white;
    margin-top: 200px;
    font-size: 20px;
    margin-bottom: -150px;
}

.position-side {
    list-style-type: none;
    text-decoration: none;
    width: 270px;
    margin-top: 13px;
}
#size-ul{
    margin-top: 130px;
}
.h2-side {
    text-decoration: none;
    font-size: 20px;
    margin-right: 120px;
}

.order {
    margin-left: 20px;
}

#welcome {
    text-align: center;
    margin-right: 330px;
    margin-top: 10px;
}

#img-welcome {
    width: 500px;
    height: 315px;
    margin-left: 900px;
    margin-top: -120px;
}

#text-welcome {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    position: absolute;
    width: 488px;
    height: 81px;
    left: 340px;
    top: 200px;
}

#features {
    text-align: center;
    text-decoration: underline #49A37B;
    color: #373867;
}

article {
    font-style: normal;
    text-align: center;
    display: inline-block;
    width: 45%;
    margin-left: 72px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-left: 70px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 30px;
    width: 300px;
    border: #373867 solid 2px;
    border-radius: 4px;
    margin-bottom: 17px;
}

.user-details {
    margin-left: 160px;
}

#submit {
    background-color: #AACE9B;
    padding: 5px;
    border-radius: 4px;
    color: #373867;
}

#list {
    color: #373867;
    margin-left: 520px;
    margin-bottom: 15px;
}

#list-2 {
    margin-top: -170px;
    font-size: 20px;
}

#img-activities {
    margin-left: 720px;

}

.memberships-container {
    margin-top: 100px;
}

table {
    text-align: left;
    width: 600px;
    color: #373867;
    border-collapse: collapse;
    margin-top: -80px;
}

tr,
td,
th {
    padding: 13px;
}

#table-container {
    width: 600px;
    margin: 150px auto;
}

.grey {
    background-color: #D9D9D9;
    color: #373867;
}

#final {
    background-color: #AACE9B;
    padding: 4px;
}

#icons {
    margin-left: 700px;
    margin-top: 10px;
}

#final-text {
    color: white;
    margin-left: 550px;
}