<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/aside.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>
        Mega Rocket
    </title>
</head>
<div class="container">

    <body>
        <header class="header-mobile">
            <img class="header-mega" src="/assets/images/mega-rocket.svg" alt="">
            <img class="header-hamburguesa" src="/assets/images/hamburguesa.svg" alt="">
        </header>
        <div>
            <aside>
                <nav>
                    <ul>
                        <li class="btn-aside">
                            <img class="icons-side" src="/assets/images/icon-home.svg" alt="icono-home">
                            <a class="decoration" href="#" class="order ">
                                Home
                            </a>
                        </li>
                        <li class="btn-aside">
                            <img class="icons-side" src="/assets/images/sign-up.svg" alt="icono-sign-up">
                            <a class="decoration" href="#" class="order">
                                Sign Up
                            </a>
                        </li>
                        <li class="btn-aside">
                            <img class="icons-side" src="/assets/images/sign-in.svg" alt="icono-sign-in">
                            <a class="decoration" href="#" class="order">
                                Sign In
                            </a>
                        </li>
                    </ul>
                </nav>
                <section>
                    <label>
                        <h2 class="color-contact">Contact information</h2>
                    </label>
                    <ul class="size-ul">
                        <li class="position-side"> <img src="/assets/images/Icon-mail.png" alt="icon-mail">
                            <a class="color underline" href="#">information@untitled.tld</a>
                        </li>
                        <li class="position-side">
                            <img src="/assets/images/icon-phone.svg" alt="icon-phone">
                            <label class="color">(000) 000-00000</label>
                        </li>
                        <li class="position-side">
                            <img src="/assets/images/icon-home.svg" alt="icone-home">
                            <a class="color underline" href="#">1234 Somewhere Road #8254 Nashville, TN</a>
                        </li>
                    </ul>
                </section>
            </aside>
            <section class="welcome">
                <div class="item-welcome">
                    <h1>
                        Mega Rocket Web
                    </h1>
                    <h2 class="color-welcome">
                        Welcome
                    </h2>
                    <p class="text-welcome">
                        Mega Rocket web is a monthly management system for members and trainers so that they can
                        dynamically
                        sign up
                        for
                        their activities in the gym
                    </p>
                </div>
                <div>
                    <img class="img-welcome" src="/assets/images/gimnasio1.svg" alt="Foto-de-gimnasio">
                </div>
            </section>
            <section class="features">
                <h2>
                    Features
                </h2>
                <div class="article-1">
                    <article>
                        <img src="/assets/images/shift-reservations.svg" alt="">
                        <h3>
                            Shift Reservations
                        </h3>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                            facilisis
                            ante
                            interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                    </article>
                    <article>
                        <img src="/assets/images/scheduling-opening-hours.svg" alt="">
                        <h3>
                            Scheduling & opening hours
                        </h3>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                            facilisis
                            ante
                            interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                    </article>
                </div>
                <div class="article-1">
                    <article>
                        <img src="/assets/images/membership-management.svg" alt="">
                        <h3>
                            Membership management
                        </h3>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                            facilisis
                            ante
                            interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>

                    </article>
                    <article>
                        <img src="/assets/images/contact-form-suggestions.svg" alt="">
                        <h3>
                            Contact form & suggestions
                        </h3>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                            facilisis
                            ante
                            interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                    </article>
                </div>
            </section>
            <div>
                <h2>
                    About Mega Rocket
                </h2>
                <div class="about-1">
                    <article>
                        <img class="img-about-1" src="/assets/images/gimnasio2.svg" alt="Foto-de-gimnasio">
                    </article>
                    <article>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                            facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam. Aenean ornare
                            velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
                            interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                        <a class="learn" href="">Learn More</a>
                    </article>
                </div>
                <div class="about-1">
                    <article>
                        <img class="img-about-1" src="/assets/images/gimnasio3.svg" alt="Foto-de-gimnasio">
                    </article>
                    <article>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                            facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam. Aenean ornare
                            velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
                            interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                        <a class="learn" href="">Learn More</a>
                    </article>
                </div>
            </div>
            <section>
                <h2>
                    Get in touch
                </h2>
                <form action="#">
                    <fieldset>
                        <label class="label-form lugar" for="first-name">
                            First name
                        </label>
                        <input id="first-name" class="box" placeholder="Enter name" required type="text">
                        <label class="label-form lugar" for="last-name">
                            Last name
                        </label>
                        <input id="last-name" class="box" placeholder="Enter last name" type="text">
                        <label class="label-form lugar" for="email-adress">
                            Email adress
                        </label>
                        <input id="email-adress" class="box" placeholder="Enter adress" type="mail">
                        <button class="submit">
                            Submit
                        </button>
                    </fieldset>
                    <fieldset>
                        <label for="reasons" class="label-form-2">
                            Contact reason
                        </label>
                        <select class="box" name="reasons" id="reasons">
                            <option disabled selected value="">
                                Choose contact reason
                            </option>
                            <option value="I want to make claim">
                                I want to make claim
                            </option>
                            <option value="I want to realize or suggestion">
                                I want to realize or suggestion
                            </option>
                            <option value="I want to know the memberships and costs">
                                I want to know the memberships and costs
                            </option>
                        </select>
                        <label class="label-form-2" for="message">
                            Message
                        </label>
                        <textarea class="box textarea" id="message" name="" placeholder="Enter your message" cols="50"
                            rows="10"></textarea>
                        <div class="button">
                            <button class="send">
                                Send
                            </button>
                        </div>
                    </fieldset>
                </form>
            </section>
            <section>
                <h2 class="activities-tittle">
                    Gym activities
                </h2>
                <article class="container-activities">
                    <div class="activities-div">
                        <ul class="list-2">
                            <div>
                                <li>
                                    Crossfit
                                </li>
                                <li>
                                    Spinning
                                </li>
                                <li>
                                    Functional
                                </li>
                            </div>
                            <div>
                                <li>
                                    Fitness
                                </li>
                                <li>
                                    Boxing
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="item-activities">
                        <img class="img-activities" src="/assets/images/gimnasio4.svg" alt="Foto-de-gimnasio">
                    </div>
                </article>
            </section>
            <section class="memberships-container">
                <h2>
                    Memberships
                </h2>
                <div class="table-container">
                    <table>
                        <tr class="gray">
                            <th> </th>
                            <th>Only classes</th>
                            <th>Classic</th>
                            <th>Black</th>
                        </tr>
                        <tr>
                            <td>Free access to the fitness room</td>
                            <td><img src="/assets/images/cruz.svg" alt=""></td>
                            <td><img src="/assets/images/tilde.svg" alt=""></td>
                            <td><img src="/assets/images/tilde.svg" alt=""></td>
                        </tr>
                        <tr class="gray">
                            <td>Free access to classes prior enrollment</td>
                            <td><img src="/assets/images/tilde.svg" alt=""></td>
                            <td><img src="/assets/images/cruz.svg" alt=""></td>
                            <td><img src="/assets/images/tilde.svg" alt=""></td>
                        </tr>
                        <tr>
                            <td>Perzonalized follow-up by a trainer</td>
                            <td><img src="/assets/images/cruz.svg" alt=""></td>
                            <td><img src="/assets/images/tilde.svg" alt=""></td>
                            <td><img src="/assets/images/tilde.svg" alt=""></td>
                        </tr>
                        <tr class="gray">
                            <td>Schedulling visualization</td>
                            <td><img src="/assets/images/tilde.svg" alt=""></td>
                            <td><img src="/assets/images/tilde.svg" alt=""></td>
                            <td><img src="/assets/images/tilde.svg" alt=""></td>
                        </tr>
                    </table>
                </div>
            </section>
            <div>
                </main>
                <footer>
                    <div class="icons">
                        <img src="/assets/images/linkedin.svg" alt="icono-instagram">
                        <img src="/assets/images/facebook.svg" alt="icono-facebook">
                        <img src="/assets/images/instagram.svg" alt="icono-linkedin">
                    </div>
                    <p class="final-text">
                        Copyright © 2022 Radium Rocket. All rights reserved.
                    </p>
                </footer>
            </div>
        </div>
    </body>
    </main>
</div>

</html>